
    <footer class="footer-area">
      <div class="social text-center">
          <a href="#"><i class="fab fa-github github"></i></a>
          <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
          <a href="#"><i class="fab fa-medium medium"></i></a>
          <a href="#"><i class="fab fa-twitter twitter"></i></a>
      </div>
      <div class="copyrights text-center">
          <p class="para">
              Made with Love 
          </p>
      </div>
</footer>
</main>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


<!--  Bootstrap js file  -->
<script src="./js/bootstrap.min.js"></script>

<!--  isotope js library  -->
<script src="./vendor/isotope/isotope.min.js"></script>

<!--  Magnific popup script file  -->
<script src="./vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

<!--  Owl-carousel js file  -->
<script src="./vendor/owl-carousel/js/owl.carousel.min.js"></script>

<!--  custom js file  -->
<script src="./js/main.js"></script>
<!-- <script src="main.js"></script> -->
<script src="./js/burger.js"></script>
<script src="./js/animation.js"></script>
<script src="./js/helper.js"></script>
<script src="./js/navbar.js"></script>

<!-- Barba Core -->
<script src="https://unpkg.com/@barba/core"></script>

<!-- GSAP for animation -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
