<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About: kolade afeez</title>

<%- include("./partials/head.ejs") %>
<style>
body{
    overflow-x: hidden;
}

.row{
    margin-right: 0;
}

.site-main .about-area .about-title h2 > span {
        font-size: 1.8rem;
        color: #641A3D;
    }

 
.site-main .about-area .about-title .paragraph > p{
    color: rgb(117, 109, 109);
}   


.site-main .about-area .about-title {
    padding-left: 3rem;
    padding-right: 0;
}

main {
    margin: 0;
    padding: 0;
}
#nav{
    /* padding-left: 9rem; */
}
@media screen and (max-width: 1200px) {
    #nav{
    /* padding-left: 7rem; */
    font-size: .9rem;
}
}

@media screen and (max-width: 1080px) {
    #nav{
    /* padding-left: 5rem; */
    font-size: .8rem;
}
.nav li a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.5rem;
}

}
@media screen and (max-width: 832px) {
    #nav{
    /* padding-left: 4rem; */
    font-size: .8rem;
}
.nav li a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.2rem;
}

}

@media screen and (max-width: 763px) {



   
    .nav li a{
      font-size: medium;
      /* padding-right: 1rem !important; */
      padding-left: 0;
      padding-right: .5rem;
      margin-left: 0;
      margin-right: 0;

    }


}

@media screen and (max-width: 667px) {
    #menu-bar{
    margin-bottom: 2rem;
    
}


}

@media screen and (max-width:670px) {

.nav li a {
  font-size: x-large;
}

.on-nav {
  margin-top: 6rem;
  display: block;
  z-index: 20;
  position: absolute;
  top: 1rem;
  padding-left: 4rem;
  font-size: 2.5rem;
}

.on-nav h1 {
   color: black;
   position: absolute;
   font-size: 3rem;
   /* bottom: 3rem; */
   
}

.on-nav ul{
  padding-top: 9rem;
}

.on-nav ul li {
  list-style: none;
}

.on-nav ul li a .fab {
  width: 6rem;
  height: 6rem;
  font-size: 5rem;
}

#menu{
  width: 40px;
  height: 40px;
  margin: 2rem 0 1.4rem auto;
  cursor: pointer;
  padding-top: 7px;
  padding-left: 7px;
  border: 2px solid #3C153B;
}
.bar{
  height: .4rem;
  width: 80%;
  background-color: #f1064c;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.nav li a{
  color: #fff;
  text-decoration: none;
}
.nav li a:hover{
  font-weight: bold;
}
.nav li{
  list-style: none;
  padding: 16px 0;
}
.nav{
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg, #menu-bar{
  top: 0;
  right: 1rem;
  position: absolute;
}
 .menu-bg{
  background: #EFA9AE;
  z-index: 1;
  border-top-left-radius: 50%; 
  border-bottom-left-radius: 50%;
  transition: 1s ease;
 

}
#menu-bar{
  z-index: 2;	
}
 .change-bg{
   margin-left: 400px;
   width: 1200px;
   height: 100%;
   transform: translate(15px, 0px); 
   overflow: hidden;
 }
 
.change .bar{
  background-color: #f1064c;
}
.change #bar1{
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
  opacity: 0;
}
.change{
  display: block;
}
}







@media screen and (max-width:490px) {


/* .nav li a {
margin-right: 2rem;
font-size: larger;
} */

.on-nav {
margin-top: 2rem;
display: block;
z-index: 20;
position: absolute;
top: .5rem;
padding-left: 2rem;
font-size: 1.5rem;
}

.on-nav h1 {
 color: black;
 position: absolute;
 /* bottom: 3rem; */
 
}

.on-nav ul{
padding-top: 6rem;
}

.on-nav ul li {
list-style: none;
}

.on-nav ul li a .fab {
width: 4rem;
height: 4rem;
font-size: 3rem;
}
}
/* 
@media screen and (max-width:350px) {


.nav li a {
 margin-right: 1rem;
 font-size: larger;
}} */
</style>
<body>
<header>
  <header class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 logo-div">
             <a href="/"> <img class="logo" src="./img/svg-logo.svg" alt="logo"></a>
        </div>
  <div id="menu-bar">
      <div id="menu" onclick="onClickMenu()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
      </div>
      <!-- <nav class=""> -->
      <ul class="nav" id="nav">
          <li><a class="appear" href="/">Home</a></li>
          <li><a  class="appear"  href="/About">About</a></li>
          <li><a  class="appear"  href="/Tools">Tools</a></li>
          <li><a  class="appear"  href="/Projects">Projects</a></li>
          <li><a  class="appear"  href="/Contact">Contact</a></li>
      </ul>
  </div>
    </div>
    <div class="burger-nav ">
        <h1><a href="./img/KOLADE AFEEZ _Full.pdf" download>Resume</a></h1>
      <ul>
       
       <li> <a href="https://github.com/koladeafeez" target="_blank"><i class="fab fa-github github"></i></a></li>
   <li> <a href="https://linkedin.com/in/kolade-afeez-2233a2175" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
    <li><a href="https://medium.com" target="_blank"><i class="fab fa-medium medium"></i></a></li>
   <li> <a href="https://twitter.com/coded_phykson" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
    </ul>
      </div>
  <div class="menu-bg" id="menu-bg"></div>
<!-- </nav> -->
</header>

<main class="site-main cover">
<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="./img/about-us.png" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title">
                <h2 class="text-uppercase pt-5">
                    <span>Let me</span>
                    <span>introduce</span>
                    <span>myself</span>
                </h2>
                <div class="paragraph py-4 w-75">
                    <p class="para">
                      I am a creative web developer dedicated to building and optimizing the performance of user centric, high impact web
                      applications. Leverage technical, analytical and problem solving skills to create dynamic, high speed websites and applications.
                    </p>
                    <p class="para">
                        For fun i love playing video games and i also love attending conference and festivals.
                    </p>
                </div>
                <a href="./img/KOLADE AFEEZ _Full.pdf" download><button type="button" class="btn button primary-button text-uppercase">Download cv</button></a>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area">
    <div class="social text-center">
        <a href="#"><i class="fab fa-github github"></i></a>
        <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
        <a href="#"><i class="fab fa-medium medium"></i></a>
        <a href="#"><i class="fab fa-twitter twitter"></i></a>
    </div>
    <div class="copyrights text-center">
        <p class="para">
            Made with joy
        </p>
    </div>
</footer>
</main>
  <%- include("./partials/footer.ejs") %>

</main>
</body>

</html>