<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact: kolade afeez</title>
<%- include("./partials/head.ejs") %>



<style>
  body{
    width: 100%;
}

a:hover {
  text-decoration: none;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-cont {
margin: 0;
text-align: right;
}

.info-cont{
margin: 0;
}

.contact-icons{
    width: 3rem;
    height: 3rem;

   }



 .email{

vertical-align: middle;
 }

 .email img {
     padding: 0;
 }
   .contact {
    margin: auto; 
 margin-top: 4rem;

  }
  .row-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
  }
  

  
  .social a {
      display: block;
      padding-left: 10rem;
  }

  .social a > i{
    font-size:4rem;
    padding: 2rem;
}


.empty {
    display: none;
}


h2{
    font-size: 1.9rem;
}

.nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}

    .contact {
        margin: auto; 

        margin-left: 15px;
      position: absolute;
      left: 40%;
      top: 50%;
      transform: translate(-50%, -50%);
     
    
      }

    .social a {
        display: inline;
        padding-left: 0rem;
    }
  
    .social a > i{
    font-size: 5rem;
    padding: 0rem; 
    padding-bottom: 1rem;
      color: #201f1f17;
  }

  .info h2 {
    font-size: 2.9rem;
    color: #fff;
    margin-bottom: 2rem;
}
.social {
   padding:0;
   margin: 0;

}
.info{
    padding: 0;
    margin: 0;
}




  .linkedin:hover,.twitter:hover{
    padding-bottom: 2rem;

}
.github:hover,.medium:hover{
    padding-bottom: 2rem;

} 



.column2{
  align-items: flex-start;
}

.column2 a > i{
  display: block;
  align-items: flex-start;
}

.social a > i {
    
    padding-bottom: 2rem;

}




@media screen and (max-width: 1000px) {
  .info h2 {
    font-size: 2rem;
  }

}

@media screen and (max-width: 995px) {
.nav {
    text-align: right;
    padding-left: 32rem;
    float: right;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.2rem;
    font-size: medium;
}

}

@media screen and (max-width: 820px) {
.nav {
    text-align: right;
    padding-left: 22rem;
    float: right;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.2rem;
    font-size: medium;
}

}



@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info h2 {
    font-size: 1.6rem;
}
.social a > i {
    font-size: 3rem;
    padding: 0rem;
    padding-bottom: 1rem;
    color: #201f1f17;
}

}


 @media screen and (max-width: 460px) {
    .social a > i{
        font-size:2.5rem;
        padding: 1rem;
        color: #201f1f17;
        padding-right: 0;
    }
    .info h2 {
        font-size: 1.3rem;
        padding-left:0 ;
        padding-right: 0;
    }
  

  }
  .logo img {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 5rem;
}

.nav-links-if-toogle {
    position: absolute;
    background: blanchedalmond;
    /* color: black; */
    height: 100vh;
    left: 50px;
    top: 50px;
    right: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.rowss {
  /* display: -ms-flexbox;
     display: flex;
    -ms-flex-wrap: wrap;
     flex-wrap: nowrap;
    margin-left: 1000px; */

    
    display: -ms-flexbox;
     display: block;
    -ms-flex-wrap: wrap;
     flex-wrap: nowrap;
    margin-left: -200px;

}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.open {
  display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px; 
    width: 100%;
    max-width: 100%;
    margin-top: 3rem !important;

}


@media screen and (max-width: 389px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.change-bg{
    transform: translate(60px, 0px); 
  
  }

}


.nav{
  text-align: right;
  padding-left: 7rem;
}


 
  .menu-bg, #menu-bar{
    top: 0;
    right: 1rem;
    position: absolute;
  }

  @media screen and (max-width:670px) {

.nav li a {
  margin-right: 6rem;
  font-size: xx-large;
}

.on-nav {
  margin-top: 6rem;
  display: block;
  z-index: 20;
  position: absolute;
  top: 1rem;
  padding-left: 4rem;
  font-size: 2.5rem;
}

.on-nav h1 {
   color: black;
   position: absolute;
   font-size: 3rem;
   /* bottom: 3rem; */
   
}

.on-nav ul{
  padding-top: 9rem;
}

.on-nav ul li {
  list-style: none;
}

.on-nav ul li a .fab {
  width: 6rem;
  height: 6rem;
  font-size: 5rem;
}

#menu{
  width: 40px;
  height: 40px;
  margin: 2rem 0 1.4rem auto;
  cursor: pointer;
  padding-top: 7px;
  padding-left: 7px;
  border: 2px solid #3C153B;
}
.bar{
  height: .4rem;
  width: 80%;
  background-color: #f1064c;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.nav li a{
  color: #fff;
  text-decoration: none;
}
.nav li a:hover{
  font-weight: bold;
}
.nav li{
  list-style: none;
  padding: 16px 0;
}
.nav{
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg, #menu-bar{
  top: 0;
  right: 1rem;
  position: absolute;
}
 .menu-bg{
  background: #EFA9AE;
  z-index: 1;
  border-top-left-radius: 50%; 
  border-bottom-left-radius: 50%;
  transition: 1s ease;
 

}
#menu-bar{
  z-index: 2;	
}
 .change-bg{
   margin-left: 400px;
   width: 1200px;
   height: 130%;
   overflow: hidden;
 }
 
.change .bar{
  background-color: #f1064c;
}
.change #bar1{
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
  opacity: 0;
}
.change{
  display: block;
}
}







@media screen and (max-width:490px) {


.nav li a {
margin-right: 2rem;
font-size: larger;
}

.on-nav {
margin-top: 2rem;
display: block;
z-index: 20;
position: absolute;
top: .5rem;
padding-left: 2rem;
font-size: 1.5rem;
}

.on-nav h1 {
 color: black;
 position: absolute;
 /* bottom: 3rem; */
 
}

.on-nav ul{
padding-top: 6rem;
}

.on-nav ul li {
list-style: none;
}

.on-nav ul li a .fab {
width: 4rem;
height: 4rem;
font-size: 3rem;
}
}

@media screen and (max-width:350px) {


.nav li a {
 margin-right: 1rem;
 font-size: larger;
}}

</style>
</head>
<body>
  <!-- <div class="loading-container">
    <div class="loading-screen">
    </div>
  </div> -->

  <header class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 logo-div">
           <a href="/"> <img class="logo" src="./img/svg-logo.svg" alt="logo"></a>
        </div>
  <div id="menu-bar">
      <div id="menu" onclick="onClickMenu()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
      </div>
      <!-- <nav class=""> -->
      <ul class="nav" id="nav">
          <li><a class="appear" href="/">Home</a></li>
          <li><a  class="appear"  href="/About">About</a></li>
          <li><a  class="appear"  href="/Tools">Tools</a></li>
          <li><a  class="appear"  href="/Projects">Projects</a></li>
          <li><a  class="appear"  href="/Contact">Contact</a></li>
      </ul>
  </div>
    </div>
    <div class="burger-nav ">
      <h1><a href="./img/KOLADE AFEEZ _Full.pdf" download>Resume</a></h1>
    <ul>
     
     <li> <a href="https://github.com/koladeafeez" target="_blank"><i class="fab fa-github github"></i></a></li>
 <li> <a href="https://linkedin.com/in/kolade-afeez-2233a2175" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
  <li><a href="https://medium.com" target="_blank"><i class="fab fa-medium medium"></i></a></li>
 <li> <a href="https://twitter.com/coded_phykson" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
  </ul>
    </div>
  <div class="menu-bg" id="menu-bg"></div>
<!-- </nav> -->
</header>

    <div class="stop " data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="contact" >
    <div class='burger container'>
      <!-- contact site-banner -->
        <div class='row row-cont animate'>
          <div class='col-lg-8 col-md-8 '>
            <!-- column info-cont -->
            <div class='info'>
                
                    <img class="contact-icons" src="./icons/email.svg"/> 
                   <a> <h2 class="email">koladeafeez60@gmail.com
                </h2></a>
                
                    <img class="contact-icons" src="./icons/phone.svg">
                    <a href="tel:+2349040208966"> <h2 class="phone"> (+234)9040208966
                </h2></a>
            </div>
          </div>
          <div class=' column2 col-lg-4 col-md-4 '>
            <!-- column social-cont  -->
            <div class='social'>
              <a href="https://github.com/koladeafeez" target="_blank"><i class="fab fa-github github"></i></a>
              <a href="https://linkedin.com/in/kolade-afeez-2233a2175" target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
              <a href="https://medium.com" target="_blank"><i class="fab fa-medium medium"></i></a>
              <a href="https://twitter.com/coded_phykson" target="_blank"><i class="fab fa-twitter twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      </main>
      </div>

    
      <%- include("./partials/footer.ejs") %>

</body>
</html>