<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Daily Tuition</title>
<%- include("./partials/head.ejs") %>



<style>
  body{
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6rem;
    /* margin-top: 20rem; */
    /* background-color: #FF4136; */
    /* width: 300px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .container {
    margin: 2rem;
} */

/* .line{
    background-color: #fff;
    width: 3rem;
    }
    .line:first-child{
     width: 1rem;
     align-self: center;
    }
    .line:nth-child(2){
        width: 2rem;
        align-self: center;
       } */

.social-cont {
margin: 0;
text-align: right;
}

.info-cont{
margin: 0;
}

.contact-icons{
    width: 3rem;
    height: 3rem;

   }



 .email{
/* margin-top: 6rem; */
vertical-align: middle;
 }

 .email img {
     padding: 0;
 }
   .contact {
    margin: auto; 
    /* width: 20rem;
    height: 25rem;   */
    /* margin: 15px; */
    /* width: 400px; */
  /* height: 400px; */
  /* position: absolute; */
  /* left: 40%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
 margin-top: 4rem;

  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
  }
  

  .info img {
      /* display: inline-block; */
      /* padding-left: 4rem; */
  }

  
  .social a {
      display: block;
      padding-left: 10rem;
  }

  .social a > i{
    font-size:4rem;
    padding: 2rem;
    color: #201f1f17;
}

.social a:hover > i{
    color: #4458dc;
}

.empty {
    display: none;
}


h2{
    font-size: 1.9rem;
}

.nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}

    .contact {
        margin: auto; 
        /* width: 20rem;
        height: 25rem;   */
        margin-left: 15px;
        /* width: 400px; */
      /* height: 400px; */
      position: absolute;
      left: 40%;
      top: 50%;
      transform: translate(-50%, -50%);
     
    
      }

    .social a {
        display: inline;
        padding-left: 0rem;
    }
  
    .social a > i{
    font-size: 5rem;
    padding: 0rem; 
    padding-bottom: 1rem;
      color: #201f1f17;
  }

  .info h2 {
    font-size: 2.9rem;
    color: #fff;
    margin-bottom: 2rem;
}
.social {
   padding:0;
   margin: 0;

}
.info{
    padding: 0;
    margin: 0;
}

.github, .medium{
    color: rgb(207, 193, 193) !important ;
}
.twitter, .linkedin{
    color: rgb(182, 182, 226) !important ;
}


  .linkedin:hover,.twitter:hover{
    color: blue !important;

}
.github:hover,.medium:hover{
    color: black !important;

}

.column2{
  align-items: flex-start;
}

.column2 a > i{
  display: block;
  align-items: flex-start;
}


@media screen and (max-width: 1000px) {
  .info h2 {
    font-size: 2rem;
  }

}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info h2 {
    font-size: 1rem;
}
.social a > i {
    font-size: 3rem;
    padding: 0rem;
    padding-bottom: 1rem;
    color: #201f1f17;
}

}


 @media screen and (max-width: 460px) {
    .social a > i{
        font-size:2.5rem;
        padding: 1rem;
        color: #201f1f17;
        padding-right: 0;
    }
    .info h2 {
        font-size: 0.85rem;
        padding-left:0 ;
        padding-right: 0;
    }
  

  }
  .logo img {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 5rem;
}

.nav-links-if-toogle {
    position: absolute;
    background: blanchedalmond;
    /* color: black; */
    height: 100vh;
    left: 50px;
    top: 50px;
    right: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.rowss {
  /* display: -ms-flexbox;
     display: flex;
    -ms-flex-wrap: wrap;
     flex-wrap: nowrap;
    margin-left: 1000px; */

    
    display: -ms-flexbox;
     display: block;
    -ms-flex-wrap: wrap;
     flex-wrap: nowrap;
    margin-left: -200px;

}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.open {
  display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px; 
    width: 100%;
    max-width: 100%;
    margin-top: 3rem !important;

}

</style>
</head>
<body>
  <div class="loading-container">
    <div class="loading-screen">
    </div>
  </div>

  <header>

        <div class="menu-btn">
            <div class="menu-btn__burger"></div>
          </div>
          <nav class="main-navigation ">
      <ul class="navbar-links">
        
        <li><a class="appear" href="/">about</a></li>
        <li><a class="appear" href="/tools">tools</li>
        <li><a class="appear" href="/project">project</a></li>
        <li><a class="appear" href="/contact">contact</a></li>
        

        </ul>
    </nav>
  </header>
    <div data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="contact" >
    <div class='burger container'>
      <!-- contact site-banner -->
        <div class='row'>
          <div class='col-lg-8 col-md-8 '>
            <!-- column info-cont -->
            <div class='info'>
                
                    <img class="contact-icons" src="./icons/email.svg"/> 
                    <h2 class="email">koladeafeez60@gmail.com
                </h2>
                
                    <img class="contact-icons" src="./icons/phone.svg">
                    <h2 class="phone"> (+234)9040208966
                </h2>
            </div>
          </div>
          <div class=' column2 col-lg-4 col-md-4 '>
            <!-- column social-cont  -->
            <div class='social'>
                <a href="#"><i class="fab fa-github github"></i></a>
                <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
                <a href="#"><i class="fab fa-medium medium"></i></a>
                <a href="#"><i class="fab fa-twitter twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      </main>
      </div>

    
      <%- include("./partials/footer.ejs") %>

</body>
</html>