<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Tuition</title>
    <link rel="stylesheet" href="./css/navbar.css">
    
<link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/slide.css">
    <link rel="stylesheet" href="./css/hamburger.css">
    <!--  Bootstrap css file  -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!--  font awesome icons  -->
    <link rel="stylesheet" href="./css/all.min.css">


    <!--  Magnific Popup css file  -->
    <link rel="stylesheet" href="./vendor/Magnific-Popup/dist/magnific-popup.css">


    <!--  Owl-carousel css file  -->
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.theme.default.min.css">


    <!--  custom css file  -->
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="./css/navchange.css">
    <!--  Responsive css file  -->
    <link rel="stylesheet" href="./css/responsive.css">
  

</head>

<body>
    <div class="loading-container">
        <div class="loading-screen">
        </div>
      </div>
  
      <header>
        <nav class="main-navigation ">
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
              </div>
          <ul class="navbar-links">
            
            <li><a class="appear" href="/">about</a></li>
            <li><a class="appear" href="/tools">tools</li>
            <li><a class="appear" href="/project">project</a></li>
            <li><a class="appear" href="/contact">contact</a></li>
            

            </ul>
        </nav>
      </header>
      <div data-barba="wrapper">
      <main data-barba="container" data-barba-namespace="home" >
        <section class="site-banner container-fluid burger" >
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6 site-title two-column">
                        <h3 class="title-text">HI THERE<img class="svg-icons" src="./icons/wave.svg"/>, I'm  </h3>
                        <h2 class="title-text">kolade</h1>
                        <h4 class="title-text text-uppercase">SOFTWARE DEVELOPER<img class="svg-icons" src="./icons/boy.svg"/><img class="svg-icons" src="./icons/computer.png"/></h4>
                        <p> i'm a creative software developer base in Abuja, Nigeria</p>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                <button type="button" class="btn button secondary-button text-uppercase">Hire Me</button>
                                <button type="button" class="btn button secondary-button text-uppercase">Grab CV</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-image two-column-img">
                        <img src="./img/banner/banner-image.png" alt="banner-img" class="img-fluid">
                    </div>
                </div>
        </section>
    </main>
  </div>

    <footer class="footer-area">
                <div class="social text-center">
                    <a href="#"><i class="fab fa-github github"></i></a>
                    <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
                    <a href="#"><i class="fab fa-medium medium"></i></a>
                    <a href="#"><i class="fab fa-twitter twitter"></i></a>
                </div>
                <div class="copyrights text-center">
                    <p class="para">
                        Made with Love 
                    </p>
                </div>
    </footer>
</main>

    <!--  Jquery js file  -->
    <script src="./js/jquery.3.4.1.js"></script>

    <!--  Bootstrap js file  -->
    <script src="./js/bootstrap.min.js"></script>

    <!--  isotope js library  -->
    <script src="./vendor/isotope/isotope.min.js"></script>

    <!--  Magnific popup script file  -->
    <script src="./vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

    <!--  Owl-carousel js file  -->
    <script src="./vendor/owl-carousel/js/owl.carousel.min.js"></script>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Barba Core -->
<script src="https://unpkg.com/@barba/core"></script>

<!-- GSAP for animation -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>


    <!--  custom js file  -->
    <!-- <script src="./js/mains.js"></script> -->
    <!-- <script src="main.js"></script> -->
    <script src="./js/burger.js"></script>
    <script src="./js/animation.js"></script>
    <script src="./js/helper.js"></script>
    <script src="./js/navbar.js"></script>


</body>

</html>