<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Daily Tuition</title>

<%- include("./partials/head.ejs") %>

<style>

header .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

body,html{
    height: 100%;
}

/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

.two-column p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.foot{
    margin-bottom: 3rem;
}


.nav{
  text-align: right;
  padding-left: 7rem;
}


 
  .menu-bg, #menu-bar{
    top: 0;
    right: 1rem;
    position: absolute;
  }

  .two-column-img {
    width: 100%;
    margin-right: 0;
    margin-top: 3rem;
}


@media screen and (max-width: 991px) {
.two-column-img {
    width: 100%;
    margin-right: 0;
    margin-top: 0rem;
}

}
@media screen and (max-width: 569px) {
    .foot{
    margin-bottom: 0rem;
}
}



</style>
 </head>
<body>



    <div class="loading-container">
        <div class="loading-screen">
        </div>
      </div>
  
      <header class="container-fluid">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 logo-div">
                    <img class="logo" src="./img/svg-logo.svg" alt="logo">
              </div>
        <div id="menu-bar">
            <div id="menu" onclick="onClickMenu()">
               
				<div id="bar1" class="bar"></div>
				<div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
                
            </div>
            <!-- <nav class=""> -->
			<ul class="nav" id="nav">
				<li><a class="appear" href="/">Home</a></li>
				<li><a  class="appear"  href="/About">About</a></li>
				<li><a  class="appear"  href="/Tools">Tools</a></li>
				<li><a  class="appear"  href="/Projects">Projects</a></li>
				<li><a  class="appear"  href="/Contact">Contact</a></li>
			</ul>
        </div>
          </div>
          <div class="burger-nav ">
            <h1>Resume</h1>
          <ul>
           
           <li> <a href="#"><i class="fab fa-github github"></i></a></li>
       <li> <a href="#"><i class="fab fa-linkedin linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-medium medium"></i></a></li>
       <li> <a href="#"><i class="fab fa-twitter twitter"></i></a></li>
        </ul>
          </div>
        <div class="menu-bg" id="menu-bg">
            
        </div>
    <!-- </nav> -->
      </header>

      <div class="cover foot animate" data-barba="wrapper">
      <main data-barba="container" data-barba-namespace="home" >
        <section class="site-banner container-fluid burger" >
                <div class="row ">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 site-title two-column">
                        <h3 class="title-text intro">HI THERE<img class="svg-icons" src="./icons/wave.svg"/>, I'm  </h3>
                        <h2 class="title-text name">k<span class="spin">o</span>lade</h1>
                        <h4 class="title-text text-uppercase role ">SOFTWARE DEVELOPER<img class="svg-icons" src="./icons/boy.svg"/><img class="svg-icons" src="./icons/computer.png"/></h4>
                        <p> i'm a creative software developer base in Abuja, Nigeria</p>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                               <a href="/Contact"> <button type="button" class="btn button secondary-button text-uppercase">Hire Me</button></a>
                                <button type="button" class="btn button secondary-button text-uppercase">Grab CV</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-image two-column-img">
                        <img src="./img/banner/banner-image.png" alt="banner-img" class="img-fluid">
                    </div>
                </div>
        </section>
    </main>
  </div>
 

  <footer class="footer-area">
    <div class="social text-center">
        <a href="#"><i class="fab fa-github github"></i></a>
        <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
        <a href="#"><i class="fab fa-medium medium"></i></a>
        <a href="#"><i class="fab fa-twitter twitter"></i></a>
    </div>
    <div class="copyrights text-center">
        <p class="para">
            Made with Love 
        </p>
    </div>
</footer>
</main>
  <%- include("./partials/footer.ejs") %>

</main>
</body>

</html>