
/* html, body {margin: 0; height: 100%; overflow: hidden} */

.burger-nav {
  display: none;
}

.static{
  position: fixed;
  overflow: hidden;
  overflow-x: hidden;
}

.footer-lost {
  display: none;
}

.navbar-default .navbar-nav > li > a.active {
  color: #337ab7;
  }
  
  .navbar-button:hover, a.active {
  color: #337ab7;
  transition: ease-in-out 0.3s;
  }


.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  float: left;
  align-items: flex-end;
}

.nav li a{
  color: #fff;
  text-decoration: none;
  margin-right: 2.4rem;

}


.nav li a:hover{
  font-weight: bold;
}


.nav li{
  list-style: none;
  padding: 1rem 0;
  font-size: larger;
}
.nav{
  text-align: right;
  float: right;
}

.currentLink {
  text-decoration: overline !important;
    text-decoration-color: #F0C987 !important;
    text-decoration-thickness: 2rem;
 
}


 @media screen and (max-width:950px) {
  .nav li a{
    color: #fff;
    margin-right: 1.4rem;
    font-size: medium;
  
  }
   
 }

 @media screen and (max-width:700px) {
  .nav li a{
    color: #fff;
    margin-right: 1rem;
    font-size: medium;
  
  }
   
 }



  @media screen and (max-width:670px) {
    .cover-max{
    visibility: hidden;
    }

    .appear-link{
      position: absolute;
      top: -200px;
    }

    .site-banner .site-title h3 {
     margin-top: 3rem;
  }
   
.menu-btn-small {
  z-index: 2;
 }

 .menu-btn-small::before,
 .menu-btn-small::after {
   z-index: 2;
   width: 6vw;
 }

 .menu-btn {
 position: relative;
  top: 0;
  display: flex;
  cursor: pointer;
  padding-right: .5rem;
  z-index: 99;
}
 .menu-small-btn {
  
  
  transition: all .5s ease-in-out;
  float: right;
}

  }





 @media screen and (max-width:670px) {

  .nav li a {
    margin-right: 6rem;
    font-size: xx-large;
}

  .on-nav {
    margin-top: 6rem;
    display: block;
    z-index: 20;
    position: absolute;
    top: 1rem;
    padding-left: 4rem;
    font-size: 2.5rem;
  }

  .on-nav h1 {
     color: black;
     position: absolute;
     font-size: 3rem;
     /* bottom: 3rem; */
     
  }

  .on-nav ul{
    padding-top: 9rem;
  }

  .on-nav ul li {
    list-style: none;
  }
  
  .on-nav ul li a .fab {
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
  }

  #menu{
    width: 40px;
    height: 40px;
    margin: 2rem 0 1.4rem auto;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7px;
    border: 2px solid #3C153B;
}
  .bar{
    height: .4rem;
    width: 80%;
    background-color: #f1064c;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  #bar1{
    transform: translateY(-4px);
  }
  #bar3{
    transform: translateY(4px);
  }
  .nav li a{
    color: #fff;
    text-decoration: none;
  }
  .nav li a:hover{
    font-weight: bold;
  }
  .nav li{
    list-style: none;
    padding: 16px 0;
  }
  .nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  .menu-bg, #menu-bar{
    top: 0;
    right: 1rem;
    position: absolute;
  }
   .menu-bg{
    background: #EFA9AE;
    z-index: 1;
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%;
    transition: 1s ease;
   
  
  }
  #menu-bar{
    z-index: 2;	
  }
   .change-bg{
     margin-left: 400px;
     width: 1200px;
     height: 100%;
     transform: translate(15px, 0px); 
     overflow: hidden;
   }
   
  .change .bar{
    background-color: #f1064c;
  }
  .change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
    opacity: 0;
  }
  .change{
    display: block;
  }
 }







 @media screen and (max-width:490px) {


 .nav li a {
  margin-right: 2rem;
  font-size: larger;
}

.on-nav {
  margin-top: 2rem;
  display: block;
  z-index: 20;
  position: absolute;
  top: .5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.on-nav h1 {
   color: black;
   position: absolute;
   /* bottom: 3rem; */
   
}

.on-nav ul{
  padding-top: 6rem;
}

.on-nav ul li {
  list-style: none;
}

.on-nav ul li a .fab {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}
 }

 @media screen and (max-width:350px) {


  .nav li a {
   margin-right: 1rem;
   font-size: larger;
 }}