/* .animate {
    animation: transitionIn 3s;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: translateY(900000)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} */



/* .spin {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 20s linear;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




body {
  /* margin: 0; */
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}

#nav {
  /* background-color: rgb(0, 61, 92); */
  /* color: white; */
  animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
  /* margin: 0;
  display: flex;
  justify-content: center; */
}

#nav li {
  /* list-style: none;
  padding: 10px;
  margin: 0 10px; */
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

#nav li:first-child {
  animation-name: nav-first-link-load;
  transform: translateX(-1000%);
}

#nav li:last-child {
  animation-name: nav-last-link-load;
  transform: translateX(1000%);
}

#nav li:hover {
  /* background-color: #FFFFFF44; */
}

#nav a {
  /* color: inherit; */
  text-decoration: none;
}

main {
  padding: 30px;
}

h3 {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

h2 {
  animation: article-load 400ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-30px);
  opacity: 0;
}

h4 {
  animation: article-load 500ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-40px);
  opacity: 0;
}

.button {
  animation: article-load 600ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-50px);
  opacity: 0;
}


p {
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.img-fluid{
  animation-name: image-fluid-load;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
  transform: scale(0);
  animation-name: nav-first-link-load;
  transform: translateX(1000%);
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes image-fluid-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nav-first-link-load {
  0% {
    transform: translateX(-1000%);
  }

  90% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes nav-last-link-load {
  0% {
    transform: translateX(1000%);
  }

  90% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}







