<main>
    <nav class="container-fluid ">
        <div class="row">
        <div class="logo col-lg-2">
            <a href="#"><img src="./img/logo.png" alt="logo"></a>
        </div>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="nav-links col-md-10" >
          <li><a href="#">About</a></li>
          <li><a href="/skill">Tools</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
      </nav>


      contact

      <nav class="container-fluid ">
        <div class="row">
        <div class="logo col-lg-2">
            <a href="#"><img src="./img/logo.png" alt="logo"></a>
        </div>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="nav-links col-md-10" >
          <li><a href="#">About</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
   </nav>